# Local

API_KEY=your_api_key_here
GPU_API_URL=http://gpu-api:8888
CONTENT_API_URL=http://content-api:8808/mcp

# Database

POSTGRES_USER=bot
POSTGRES_PASSWORD=bot
POSTGRES_DB=bot
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

# pgAdmin

PGADMIN_EMAIL=test@test.com
PGADMIN_PASSWORD=12345

# Ollama

OLLAMA_URL=http://ollama:11434

# OpenAI

OPENAI_API_KEY=your_openai_api_key_here

# Google

GOOGLE_API_KEY=your_google_api_key_here
