name: Docker (API)

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: finki-hub/.github/.github/workflows/docker.yaml@main
    with:
      dockerfile: ./api/Dockerfile
      context: ./api
      package-name: chat-bot-api
    secrets: inherit
