name: Docker Build (API)

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    name: Docker Build (API)
    uses: finki-hub/.github/.github/workflows/docker.yaml@main
    with:
      dockerfile: ./api/Dockerfile
      context: ./api
    secrets: inherit
