name: Docker (GPU API)

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: finki-hub/.github/.github/workflows/docker.yaml@main
    with:
      dockerfile: ./gpu-api/Dockerfile
      context: ./gpu-api
      package-name: finki-chat-bot-gpu-api
    secrets: inherit
