name: Linters (GPU API)

on:
  push:
    branches: [main, dev]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ruff:
    uses: finki-hub/.github/.github/workflows/ruff.yaml@main
    with:
      working-directory: ./gpu-api
    secrets: inherit

  mypy:
    uses: finki-hub/.github/.github/workflows/mypy.yaml@main
    with:
      working-directory: ./gpu-api
    secrets: inherit
