name: Linters (API)

on:
  push:
    branches: [main, dev]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ruff:
    name: Ruff (API)
    uses: finki-hub/.github/.github/workflows/ruff.yaml@main
    with:
      working-directory: ./api
    secrets: inherit

  mypy:
    name: MyPy (API)
    uses: finki-hub/.github/.github/workflows/mypy.yaml@main
    with:
      working-directory: ./api
    secrets: inherit
